﻿html, body {
    margin: 0;
    padding: 0;
}

#locationContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    /* Остальные параметры определяются динамически в html файле */
}

#battleContainer {
    position: absolute;
    width: 100%;
    height: 100%;
}

.tile {
    position: absolute;
    width: 64px;
    height: 64px;
}